h1 {
    color: black;
    background-color: green;
    font-size: xx-large;
    text-align: center;
    padding: 30px;
    border: 10px solid red;
    box-sizing: border-box;
    margin: 30px;
    margin-bottom: 70px;

}

a {
    color: yellow;
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 20px;
    border: 10px solid black;
    box-sizing: border-box;
    margin: 100px;

}    

h2 {
    color: white;
    background-color: red;
}

body {
    background-image: url(https://i.natgeofe.com/n/5de6e34a-d550-4358-b7ef-4d79a09c680e/aerial-beach-miami-florida.jpg?w=2560&h=1706);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}